# Importing Police Crime Data

Import libraries

In [1]:
from urllib.request import urlretrieve
import pandas as pd
import matplotlib.pyplot as plt
import os

Copy the link to the download file to scrape the data straight off the web.

In [2]:
police_df = pd.read_csv('https://policeuk-data.s3.amazonaws.com/download/f289fd6e4c78f154bfee8c59b48737f47eb975b3.zip')
police_df.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,aa9d008371c86371ad07a7ee37aa0bbc18988fad9c839f...,2025-03,Metropolitan Police Service,Metropolitan Police Service,0.841300,51.134961,On or near Lodge Close,E01024017,Ashford 007E,Violence and sexual offences,Under investigation,NaN
1,NaN,2025-03,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
2,NaN,2025-03,Metropolitan Police Service,Metropolitan Police Service,0.140194,51.582356,On or near Hatch Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
3,88a2f14d227afd35b185e72ffddf624ce3390ce73ad627...,2025-03,Metropolitan Police Service,Metropolitan Police Service,0.145722,51.594296,On or near Providence Place,E01000027,Barking and Dagenham 001A,Burglary,Under investigation,NaN
4,92b195e28c4e5eaf7534d163af1e0e33e81c7de4d8bf54...,2025-03,Metropolitan Police Service,Metropolitan Police Service,0.138830,51.583433,On or near Thatches Grove,E01000027,Barking and Dagenham 001A,Criminal damage and arson,Unable to prosecute suspect,NaN

Create a new dataframe which only contains longitude, latittude and the crime type

In [6]:
cleaned_police_df = police_df[['Longitude',	'Latitude', 'Crime type']].copy() # select specific columns and copy the original df into a new df
cleaned_police_df.head()

   Longitude   Latitude                    Crime type
0   0.841300  51.134961  Violence and sexual offences
1   0.134947  51.588063         Anti-social behaviour
2   0.140194  51.582356         Anti-social behaviour
3   0.145722  51.594296                      Burglary
4   0.138830  51.583433     Criminal damage and arson

In [12]:
# Row count
count_row = cleaned_police_df.shape[0] #[0] counts the number of rows, [1] counts the number of columns
print("The row count is:", count_row)

The row count is: 93571